cabal.sandbox.config
.cabal-sandbox/
dist/
dist-newstyle/
.project
.dist-buildwrapper/
.DS_Store
TAGS
*.hi
*.o
bloodhound-*-docs/
bloodhound-*-docs.tar.gz
bloodhound.iml
.idea/
.stack-work/
.hg/00changelog.i
.hg
.hgignore
examples/bloodhound-examples.cabal
/.ghc.environment.*
.hspec-failures
